$primary: #444bf7;
$secondary: #6d8deb;
$lavender: #c8d4ff;
$oxford: #011436;
$green: #0ca84f;
$aquamarine: #80f7cb;
$orange: #ffa500;
$pink: #ef2d5b;
$gray: #4a4a68;
$lightgray: #8c8ca1;
$dorian: #cfd1fd;
$cloud: #fafcfe;
